/* General */

:root{
    --maincolor:#000936;
    --backgroundoverlay : #0009369c;
    --obj-background:#f2f2f2;
    --obj-color : #fcb800;
    --cardshadow : rgba(0, 0, 0, 0.12) 0px 6px 16px
}

h1{
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    color: var(--obj-background);
    margin-top: 50px;
}

h2{
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}

h3{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    color: var(--obj-background);
}

h4{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

h5{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

h6{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
}

i{
    font-size: 25px;
}

a{
    font-family: 'Assistant', sans-serif;
    font-weight: 600; 
}

*{
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding : 0;
}

body{
    background-image:linear-gradient(#0009369c, #0009369c), url(./img/Colosseo-scia-luminosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

#roomsBody{
    background: white;
}

/* background: #dbe5eb; */

.ctm-icons{
    font-size: 20px;
}

.btn{
    background-color: var(--maincolor);
    border-radius: 10px;
}

/* Navbar */

.bg-main{
    background: var(--maincolor);
}

.logo{
   height: 60px;
   width: fit-content;
   transition: 0.5s;
}

.logo:hover{
    height: 60px;
    width: fit-content;
    transform: scale(1.03);
    
 }

.help{
    background-color: var(--obj-background);
    height: 50px;
    width: 300px;
    border-radius: 15px;
    font-size: 20px;
    color: var(--maincolor);
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
    display: block;
    transition: 0.5s;
}

.help:hover{
    background-color: var(--obj-color);
    color: var(--maincolor);
    transform: scale(1.03);
    
}


.i-help{
    font-size: 28px;
    color: var(--maincolor)
}

.help-mobile{
    background-color: var(--obj-background);
    height: 50px;
    width: 120px;
    font-size: 20px;
    color: var(--maincolor);
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
    box-sizing: border-box;
    border-radius: 15px;
}

.mt-15{
    margin-top: 120px;
}


/* bookingEngine */

.bk-container{
    min-height: 80vh;
    max-height: 80vh;;
}

/* Bottom nav */


.bt-nav{
    height: 70px;
    background-color: var(--obj-background);
}


.links{
    color: var(--maincolor);
    font-size: 20px;
    background-color: var(--obj-background);
}

.links:hover{
    color: var(--obj-color);
    font-size: 20px;
    background-color: var(--obj-background);
}

.link-col{
    border-right: 3px #0009364d solid;
}


/* Card camere */

.div-img{
    height: 251px;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
}


.card-img{
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.card{
    background: var(--obj-background);
    max-width: 500px;
    border-radius: 25px;
    box-shadow: var(--cardshadow);
    border:none;
}

.card-body{
    background: var(--obj-background)!important;
    border-radius: 25px;
}

.btn.btn-card{
    height: 35px;
    max-width: 120px;
    color: var(--obj-background);
    padding: 0;
}

.carousel-img{
    border-radius: 15px;
}

.i-card{
    font-size: 20px;
}

.badge{
    background-color: forestgreen;
    height: 30px;
    border-radius:10px;
    max-width: 120px;
    color: white;
    position: absolute;
    top: 15px;
    right: 18px;
}

/* modale camere  */

.modal-content{
    border-radius: 15px !important;
}




@media screen and (max-width: 768px){
  
    .bt-nav{
        height: 50px;
        background-color: var(--obj-background);
    
    }
    
    .links{
        color: var(--maincolor);
        font-size: 15px;
        background-color: var(--obj-background);
    }
    
    .link-col{
        border-right: 1px #0009364d solid;
    }

    .ctm-icons{
        font-size: 10px;
    }
    
    .help-mobile{
        background-color: var(--obj-background);
        height: 50px;
        width: 120px;
        font-size: 20px;
        color: var(--maincolor);
        box-shadow: 0 6px 20px rgba(0,0,0,.2);
        box-sizing: border-box;
        border-radius: 15px;
    }

    .logo{
        height: 40px;
        width: fit-content;
        transition: 0.5s;
     }

     h1{
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        color: var(--obj-background);
        margin-top: 15px;
    }

    .i-help{
        font-size: 23px;
        color: var(--maincolor)
    }

    .card{
        background: var(--obj-background);
        max-width: 350px;
        border-radius: 25px;
        box-shadow: var(--cardshadow);
    }

}




.container_calendario {
    color: #333;
    text-align: center;
    width: 100%;
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 25px !important;
}


.titolo_calen_modal {
    background: #000936 !important;
    background: #000936 !important;
    background: #000936 !important;
    color: #ffffff!important;
    display: none !important;
}

.prenota_ora_btn {
    padding: 10px !important;
    box-shadow: none !important;
    outline: none;
    border: none;
    border: none !important;
    line-height: 1 !important;
    border-radius: 15px !important;
    background: #2979ff !important;
    color: #fff !important;
    width: 100%;
    text-decoration: none !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 600;
    font-family:'Assistant', sans-serif !important;
}

.select_tab {
    outline: none;
    width: auto;
    border: 1px solid #e1e1e1;
    height: 30px;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 200px;
    padding: 0px !important;
    min-width: 100px;
    border-radius: 15px !important;
}